.buy{
  position: fixed;
  top: 0;
  right: -45rem;
  width: 45rem;
  height: 100%;
  background-color: $color-gray;
  transition: right 0.2s;

  &--open{
      right: 0rem;
  }

  &__content {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    &--header {
      padding: 4.5rem 0;
      text-align: center;
      color: $color-white;
      background-color: $color-dark-gray;
      font-size: 1.8rem;
    }

    &--main {
      position: relative;
      min-height: 28rem;
      padding-bottom: 20rem;

      .buy-item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.5rem;
        border-top: 2px solid $color-dark-gray;
        border-bottom: 2px solid $color-dark-gray;

        &__delete {
          position: absolute;
          top: 1rem;
          right: 1rem;

          &:hover {
            color: $color-white;
          }
        }

        &__img {
          width: 20%;
          margin: 0 1.2rem;
        }

        &__details {
          color: $color-white;
        }

        &__price {
          margin-left: auto;
          margin-right: 1rem;
          color: $color-yellow;
          font-size: 2rem;
          font-weight: bold;
        }
      }
    }

    &--footer {
      box-sizing: border-box;
      padding: 5%;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15rem;
      z-index: 2;
      background-color: $color-dark-gray;
      
      .buy-total{
          display: flex;
          justify-content: space-between;
          align-items: center;

          h2{
              font-size: 2rem;
              color: $color-white;
              font-weight: normal;
          }

          span{
              color: $color-yellow;
              font-size: 2rem;
              font-weight: 500;
              text-align: right;
          }
      }

      .buy-button{
          width: 100%;
          margin-top: 1rem;
          padding: 1rem 0;
          background-color: $color-yellow;
          border: none;
          border-radius: 1rem;
          color: $color-dark-gray;
          font-weight: bold;
          font-size: 1.6rem;

          &:hover{
              opacity: .8;
          }
      }


    }
  }
}

.open-icon {
  position: absolute;
  left: -5.25rem;
  background-color: $color-black;
  padding: 1.5rem;
  color: $color-yellow;
}

