*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 70%;
  margin: 0 auto 3rem auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .product-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0;
}

.main .products-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  -ms-grid-rows: minmax(150px, min-content);
      grid-template-rows: minmax(150px, -webkit-min-content);
      grid-template-rows: minmax(150px, min-content);
  text-align: center;
  grid-gap: 3rem;
}

.main .products-list .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  position: relative;
}

.main .products-list .product-item__img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.main .products-list .product-item__price {
  background-color: #424242;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 15px 15px;
  -webkit-transition: height .5s;
  transition: height .5s;
}

.main .products-list .product-item__price--count {
  display: none;
  color: #F2DA00;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .products-list .product-item__price--title {
  font-size: 14px;
  color: #F2DA00;
  font-weight: bold;
}

.main .products-list .product-item__price--button {
  display: none;
  background: #F2DA00;
  border-radius: 5px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  border: none;
  width: 80%;
  margin: 0 auto;
  padding: .5rem 0;
}

.main .products-list .product-item:hover .product-item__price {
  height: 100%;
  border-radius: 15px;
}

.main .products-list .product-item:hover .product-item__price--title {
  display: none;
}

.main .products-list .product-item:hover .product-item__price--count {
  display: block;
  color: white;
  top: -30px;
  font-size: 30px;
}

.main .products-list .product-item:hover .product-item__price--button {
  display: block;
}

.main .products-list .product-item:hover .product-item__price--button:hover {
  opacity: .8;
}
/*# sourceMappingURL=main.css.map */