*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 70%;
  margin: 0 auto 3rem auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
}

.main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .product-filters {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 2rem 0;
}

.main .product-filters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #e2e2e2;
  margin-right: 1rem;
  cursor: pointer;
}

.main .products-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(17rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  -ms-grid-rows: minmax(150px, min-content);
      grid-template-rows: minmax(150px, -webkit-min-content);
      grid-template-rows: minmax(150px, min-content);
  text-align: center;
  grid-gap: 3rem;
}

.main .products-list .product-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 20px;
  position: relative;
}

.main .products-list .product-item__img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}

.main .products-list .product-item__price {
  background-color: #424242;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0 0 15px 15px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .products-list .product-item__price--count {
  display: none;
  color: #F2DA00;
  font-weight: bold;
  font-size: 22px;
  position: relative;
  top: 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main .products-list .product-item__price--title {
  font-size: 14px;
  color: #F2DA00;
  font-weight: bold;
}

.main .products-list .product-item__price--button {
  display: none;
  background: #F2DA00;
  border-radius: 5px;
  color: #424242;
  font-size: 22px;
  font-weight: bold;
  border: none;
  width: 80%;
  margin: 0 auto;
  padding: .5rem 0;
}

.main .products-list .product-item:hover .product-item__price {
  height: 100%;
  border-radius: 15px;
}

.main .products-list .product-item:hover .product-item__price--title {
  display: none;
}

.main .products-list .product-item:hover .product-item__price--count {
  display: block;
  color: white;
  top: -30px;
  font-size: 30px;
}

.main .products-list .product-item:hover .product-item__price--button {
  display: block;
}

.main .products-list .product-item:hover .product-item__price--button:hover {
  opacity: .8;
}

.buy {
  position: fixed;
  top: 0;
  right: -45rem;
  width: 40rem;
  height: 100%;
  background-color: #424242;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}

.buy--open {
  right: 0rem;
}

.buy__content {
  height: 100%;
  overflow-y: scroll;
}

.buy__content::-webkit-scrollbar {
  width: 5px;
}

.buy__content::-webkit-scrollbar-thumb {
  background: #888;
}

.buy__content--header {
  padding: 4.5rem 0;
  text-align: center;
  color: #fff;
  background-color: #353535;
  font-size: 1.8rem;
}

.buy__content--main {
  position: relative;
  min-height: 28rem;
  padding-bottom: 20rem;
}

.buy__content--main .buy-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0.5rem;
  border-top: 2px solid #353535;
  border-bottom: 2px solid #353535;
}

.buy__content--main .buy-item__delete {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.buy__content--main .buy-item__delete:hover {
  color: #fff;
}

.buy__content--main .buy-item__img {
  width: 20%;
  margin: 0 1.2rem;
}

.buy__content--main .buy-item__details {
  color: #fff;
}

.buy__content--main .buy-item__price {
  margin-left: auto;
  margin-right: 1rem;
  color: #F2DA00;
  font-size: 2rem;
  font-weight: bold;
}

.buy__content--footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15rem;
  z-index: 2;
  background-color: #353535;
}

.buy__content--footer .buy-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy__content--footer .buy-total h2 {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
}

.buy__content--footer .buy-total span {
  color: #F2DA00;
  font-size: 2rem;
  font-weight: 500;
  text-align: right;
}

.buy__content--footer .buy-button {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 0;
  background-color: #F2DA00;
  border: none;
  border-radius: 1rem;
  color: #353535;
  font-weight: bold;
  font-size: 1.6rem;
}

.buy__content--footer .buy-button:hover {
  opacity: .8;
}

.open-icon {
  position: absolute;
  left: -5.25rem;
  background-color: #272727;
  padding: 1.5rem;
  color: #F2DA00;
}
/*# sourceMappingURL=main.css.map */